.resume {
  &_divider {
    padding-left: 20px;
    border-left: 5px solid #8A9CEE;
    margin: 20px 0;
  }

  &_container {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  &_main {
    width: 41%;
    padding: 16px;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #515666;

    &_body {
      height: 95vh;
      background: #fff;
      padding: 20px;
      font-size: 9px;

      &_title {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
      }

      &_subtitle {
        border-bottom: 1px solid #eee;
        font-weight: bold;
        padding-bottom: 2px;
        margin: 6px 0px;
      }

    }
  }

  &_operate {
    width: 20%;
    padding: 10px;

  }

  &_edit {
    flex: 1;
    background: #fff;
    display: flex;
    height: 100%;
    flex-direction: column;

    &_top {
      display: flex;
      align-items: center;
      justify-content: end;
      height: 50px;
      border-bottom: 1px solid #F3F4F6;
      padding: 0px 16px;
    }

    &_bottom {
      position: relative;
      flex: 1;
      padding: 40px;
    }

    &_btns {
      position: absolute;
      bottom: 25px;
      right: 25px;
    }
    &_avatar{
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background: #F3F4F6;
    }

  }
}